.modal-school {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  align-items: flex-end;
  padding-bottom: 160rpx;
}

.modal-content {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: #fff;
  .s-title {
    height: 140rpx;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    justify-content: center;
    .t-top{
      font-size: 34rpx;
      line-height: 45rpx;
      text-align: center;
      font-weight: 600;
      position: absolute;
      top:15rpx;
      left:0;
      right:50rpx;
    }
    .close{
      width:40rpx;
      height: 40rpx;
      top:10rpx;
      z-index:2;
      position: absolute;
      right:20rpx;
    }
    .t-c {
      height: 54rpx;
      align-self: flex-end;
      color: #333333;
      border:2rpx solid #eaeaea;
      width:90%;
      display: flex;
      align-items: center;
      border-radius:6rpx;
      .search{
        width:35rpx;
        height: 35rpx;
        margin-left:10rpx;
      }
      input{
        border:0;
        flex:1;
        height: 40rpx;
        margin-left:10rpx;
        font-size: 24rpx;
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location {
  margin-top: 10rpx;
  button {
    border-color: transparent;
    background: transparent;
    padding: 0;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 28rpx;
    color: #394A9A;
    align-self: flex-start;
    line-height: initial;
    width:90%;
    margin: 0 auto;
    .location-icon{
      width: 40rpx;
      height: 40rpx;
      margin-right: 10rpx;
    }
  }
}

.school-title {
  font-size: 28rpx;
  padding-left: 50rpx;
  color: #666666;
}

.school-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  &::after {
    content: '';
    width: 196rpx;
    height: 0;
  }
}

.school-list {
  flex:1;
  height: 0;
  position: relative;
  &.fix-space{
    padding-top:150rpx;
  }
  .list-item {
    border-bottom:2rpx solid #eaeaea;
    padding:30rpx 5% 20rpx;
    width:100%;
    &.selected{
      background-color:#efefef;
      position: fixed;
      top:calc( 5% + 140rpx);
      left:0;
    }
    .item-title{
      line-height: 60rpx;
      font-size: 36rpx;
      font-weight: 600;
      display: flex;
      align-items: center;
      .title-text{
        flex:1;
      }
      .no-stock{
        flex:0 0 auto;
        color:#db8080;
        margin-left:10rpx;
        font-size:26rpx;
      }
      .title-check{
        flex:0 0 auto;
        width:40rpx;
        height: 40rpx;
        margin-left:10rpx;
        border: 2rpx solid #979696;
        border-radius: 6rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        image{
          width:36rpx;
          height: 36rpx;
        }
      }
    }
    .item-address{
      color:#7e7e7e;
      font-size: 26rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      .add-text{
        width:0;
        flex:1;
      }
      .add-k{
        margin-left: 20rpx;
      }
    }
  }
}