@import '../../_var.scss';
.main-contain{
  min-height: initial;
  height: 100vh;
}
.order-top{
  height: 84rpx;
  display: flex;
  justify-content: space-around;
  .v-item{
    flex:0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:28rpx;
    font-family:PingFangSC-Light;
    color:rgba(36,38,41,1);
    border-bottom:6rpx solid transparent;
    &.active{
      font-size: 32rpx;
      color:#242629;
      border-bottom-color:rgba(255,219,38,1);
    }
  }
}
.order-list{
  flex:1;
  height: 0;
  background:rgba(248,248,248,1);
  padding: 6rpx 32rpx  30rpx;
}
.list-item{
  background: #fff;
  border-radius:12rpx;
  margin-top: 12rpx;
  .item-status{
    height: 106rpx;
    border-bottom: 2rpx solid rgba(243,243,243,1);
    display: flex;
    align-items: center;
    font-size: 28rpx;
    color:#242629;
    padding:  0 32rpx;
    .t-status{
      margin-left: auto;
      color:#FF5B4D;
    }
  }
  .item-goods{
    display: flex;
    padding: 16rpx 32rpx;
    .g-icon{
      height: 120rpx;
      width:120rpx;
      border-radius:12rpx;
    }
    .g-name{
      height: 120rpx;
      margin: 0 20rpx;
      flex:1;
      width:0;
      line-height: 40rpx;
      color:rgba(36,38,41,1);
      font-size:28rpx;
    }
    .g-price{
      height:120rpx;
      .m-p{
        display: flex;
        font-size: 28rpx;
        color:#242629;
        line-height: 40rpx;
      }
      .m-n{
        line-height: 40rpx;
        font-size: 24rpx;
        color:#898B8F;
        text-align: right;
      }
    }
  }
  .item-money{
    height: 94rpx;
    padding: 0 32rpx;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28rpx;
    border-bottom:2rpx solid rgba(227,229,232,1);
    .t-pri{
      color:#FF5B4D;
      margin:  0 5rpx;
    }
  }
  .item-confirm{
    height: 130rpx;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32rpx;
    color:#242629;
    font-size: 28rpx;
    text{
      margin-right: 60rpx;
    }
    button{
      height: 64rpx;
      background:rgba(255,219,38,1);
      display: flex;
      align-items: center;
      font-size: 28rpx;
      margin: 0;
      color:#242629;
      border-radius: 64rpx;
    }
  }
}